.addtocart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 57px;
    background-color: rgb(196, 241, 241);
    height: 100%;
}

.addtocart img{
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 50%;
}
.tablecart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
    border-radius: 5px;
    height: 255px;
    width: 220px;
    background-color: rgb(254, 254, 255);
}
.tablecart img:hover{
    height: 160px;
    width: 160px;
}
.tablecart:hover{
    background-color: rgb(238, 252, 248);
}